.App {
  text-align: center;
  box-sizing: border-box;
}

body {
  justify-content: center;
  align-items: center;
  
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 0.5rem;
  min-height:1.5rem;
  max-width: 22vh;
  font-size: 1rem;
  border: none;
}

input:focus {
  background-color: rgb(234, 250, 246);
}

.input-text-box {
  border-radius: 10px 0 0 10px;
}

.quantity-box {
  margin: 0.2em;
  max-width: 8vh;
  padding: 0.5rem;
}


.add-button{
  border: none;
  background: none;
  position: relative;
  font-size: 1.5rem;
  transition: transform .25s, opacity .25s;
  opacity: .8;
  cursor: pointer;
}

.add-button:hover {
  opacity: 1;
  transform: rotate(90deg);
  transition: 0.25s;
}

.option-select {
  margin: 0.1rem;
  position: relative;
  overflow: hidden;
}

.list-options {
  min-height:2.5rem;
  font-size: 1rem;
  cursor: pointer;
  width: 12rem;
  border: none;
}

.item-box {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}

.to-pick {
  margin: 0.1rem;
  background: none;
  display: flex;
  padding: 0.5em;
  justify-content: space-between;
}

.to-pick {
  animation: bottomIn 0.5s forwards;
}

@keyframes bottomIn {
  from {
    opacity: 0;
    transform: translateY(-1em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.item-to-pick {
  margin: 0.1rem;
  padding: 0rem 0.5rem;
}

.picked-button {
  border: none;
  background: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: block;
}

.picked {
  text-decoration: line-through;
  opacity: .5;
}

.remove-button {
  border: none;
  background: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.list-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 1.4rem;
  height: 2.5rem;

}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggler {
  position: absolute;
  cursor: pointer;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border-radius: 0 10px 10px 0;
  background-color: rgb(251, 251, 251);
  transition: 0.4s;
}

.toggler:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 2px;
  top: 4px;
  border-radius: 50%;
  background-color: rgb(138, 84, 84);  
}

.switch input:checked + .toggler {
  background-color: rgb(204, 204, 224);
}

.switch input:checked + .toggler:before {
  transition: 0.4s;
  transform: translateY(1.0rem);
  background-color: rgb(189, 153, 153);
}