.App {
  text-align: center;
  box-sizing: border-box;
}

body {
  background: rgb(243, 217, 217);
  justify-content: center;
  align-items: center;
  
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 0.5rem;
  min-height:1.5rem;
  max-width: 22vh;
  font-size: 1rem;
  border: none;
  color: black;
  background: rgb(255, 255, 255);
}

.input-text-box {
  border-radius: 50px 0 0 50px;
}

.quantity-box {
  margin: 0.2em;
  max-width: 8vh;
  padding: 0.5rem;
}


.add-button{
  border: none;
  background: none;
  position: relative;
  font-size: 1.5rem;
  transition: transform .25s, opacity .25s;
  opacity: .5;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.add-button:hover {
  opacity: 1;
  transform: rotate(45deg);
}

.option-select {
  margin: 0.1rem;
  position: relative;
  overflow: hidden;
}

.list-options {
  min-height:2.5rem;
  font-size: 1rem;
  cursor: pointer;
  width: 12rem;
  border: none;
}

.item-box {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}

.to-pick {
  margin: 0.1rem;
  background: none;
  display: flex;
  padding: 0.5em;
  justify-content: space-between;
  transition: all 1s ease;
}

.to-pick {
  animation: bottomIn 0.5s forwards;
}

@keyframes bottomIn {
  from {
    opacity: 0;
    transform: translateY(-1em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.item-to-pick {
  margin: 0.1rem;
  padding: 0rem 0.5rem;
}

.picked-button {
  border: none;
  background: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: block;
}

.picked {
  text-decoration: line-through;
  opacity: .5;
}

.remove-button {
  border: none;
  background: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.list-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
